.sd{
    position: fixed;
    left: 0;
    top: 0;
    width: 323px;
    height: 100%;
    border: 1px white solid;
    overflow-y: scroll;
}
body{
    color: white;
    background-color: rgb(0,100,0);
}
.fz{
    font-size: 30px;
}
li{
    padding: 5px;
    border: 1px solid white;
    list-style: none;
}